include ../../components/card/card.pug
include ../../components/header/header.pug
include ../../../tools/utilities.pug

<!DOCTYPE html>
//
  ---
  author: Edmund Wu <ewu1985@bths.edu>
  namespaces:
    cd: Card
    cm: Component
    ct: Container
    ft: Footer
    hd: Header
    nv: Navbar
    pg: Page
    sw: Site Wide
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Fall Final Project
    +link("assets/css/base.css")
    block css
    block js
    include ../../components/fonts/fonts.pug
    block vendors
  // Fallback background color
  body.sw-Background_Color8
    block header
    .pg-Container
      block content
    include ../../components/footer/footer.pug
