{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "Chrome >= 1",
          "Firefox >= 3.5",
          "IE >= 9.0",
          "Opera >= 9.5",
          "Safari >= 3.2"
        ]
      }
    }],
    "flow"
  ],
  "plugins": [
    "transform-flow-strip-types"
  ]
}
