.cm-Header {
  align-items: center;
  box-shadow: 0 3px 5px rgba(18, 18, 18, 0.3);
  display: flex;
  justify-content: space-between;
  min-height: 8vh;
  padding: 0 5vw;
  position: sticky;
  top: 0;
}

.hd-Title {
  font-size: 2.25rem;
}
