.sw-Background_Primary {
  background-color: #0d1012;
}

.sw-Background_Color0 {
  background-color: #0d1012;
}

.sw-Background_Color1 {
  background-color: #524447;
}

.sw-Background_Color2 {
  background-color: #51484f;
}

.sw-Background_Color3 {
  background-color: #6b575d;
}

.sw-Background_Color4 {
  background-color: #ab5e51;
}

.sw-Background_Color5 {
  background-color: #966a65;
}

.sw-Background_Color6 {
  background-color: #bb8d75;
}

.sw-Background_Color7 {
  background-color: #9e99aa;
}

.sw-Background_Color8 {
  background-color: #6e6b76;
}

.sw-Background_Color9 {
  background-color: #524447;
}

.sw-Background_Color10 {
  background-color: #51484f;
}

.sw-Background_Color11 {
  background-color: #6b575d;
}

.sw-Background_Color12 {
  background-color: #ab5e51;
}

.sw-Background_Color13 {
  background-color: #966a65;
}

.sw-Background_Color14 {
  background-color: #bb8d75;
}

.sw-Background_Color15 {
  background-color: #9e99aa;
}
