.sw-Foreground_Primary {
  color: #0d1012;
}

.sw-Foreground_Color0 {
  color: #0d1012;
}

.sw-Foreground_Color1 {
  color: #524447;
}

.sw-Foreground_Color2 {
  color: #51484f;
}

.sw-Foreground_Color3 {
  color: #6b575d;
}

.sw-Foreground_Color4 {
  color: #ab5e51;
}

.sw-Foreground_Color5 {
  color: #966a65;
}

.sw-Foreground_Color6 {
  color: #bb8d75;
}

.sw-Foreground_Color7 {
  color: #9e99aa;
}

.sw-Foreground_Color8 {
  color: #6e6b76;
}

.sw-Foreground_Color9 {
  color: #524447;
}

.sw-Foreground_Color10 {
  color: #51484f;
}

.sw-Foreground_Color11 {
  color: #6b575d;
}

.sw-Foreground_Color12 {
  color: #ab5e51;
}

.sw-Foreground_Color13 {
  color: #966a65;
}

.sw-Foreground_Color14 {
  color: #bb8d75;
}

.sw-Foreground_Color15 {
  color: #9e99aa;
}
