.pg-Container {
  display: flex;
  flex-flow: column;
  padding: 0 5vw;
}

.cm-Container_Section {
  display: inherit;
  margin: 0 0 2vh;
  width: 100%;
}

.sw-Flex_Col-1,
.sw-Layout_Spacer {
  flex: 1 1;
}

.sw-Flex_Col-2 {
  flex: 2 1;
}

.sw-Flex_Col-3 {
  flex: 3 1;
}

.sw-Flex_Col-4 {
  flex: 4 1;
}

.sw-Flex_Col-5 {
  flex: 5 1;
}

.sw-Flex_Col-6 {
  flex: 6 1;
}

.sw-Flex_Col-7 {
  flex: 7 1;
}

.sw-Flex_Col-8 {
  flex: 8 1;
}

.sw-Flex_Col-9 {
  flex: 9 1;
}

.sw-Flex_Col-10 {
  flex: 10 1;
}

.sw-Flex_Col-11 {
  flex: 11 1;
}

.sw-Flex_Col-12 {
  flex: 12 1;
}
