.cm-Footer {
  flex-flow: column;
  padding: 2vw 5vw;
}

.cm-Footer,
.ft-Section_Top,
.ft-Section_Middle,
.ft-Section_Bottom {
  display: flex;
}

.ft-Section_Top,
.ft-Section_Middle,
.ft-Section_Bottom {
  margin: 0 0 1vh 0;
}

.ft-Section_Bottom {
  .ft-Section_Container {
    flex-grow: 1;
  }
}

.ft-Section_Heading {
  font-size: 1.65rem;
}

.ft-Section_Details {
  font-size: 1.35rem;
}
