include ../navbar/navbar.pug

footer.cm-Footer.sw-Background_Color8
  .ft-Section_Top
    .ft-Section_Heading About this Website #[br]
      span.ft-Section_SubHeading Assignment for the 1#[sup st] semester
  .ft-Section_Bottom
    .ft-Section_Container
      .ft-Section_Heading Pages
      +navbar("_Dropdown", [{
        link: "index.html",
        text: "Home"
      }, {
        link: "rl.html",
        text: "Reinforcement Learning"
      }, {
        link: "ml.html",
        text: "Machine Learning"
      }, {
        link: "pathfinding.html",
        text: "Pathfinding"
      }, {
        link: "implementation.html",
        text: "Implementation"
      }])
    .ft-Section_Container
      .ft-Section_Heading Technology (Third Party Vendors)
      +navbar("_Dropdown", [{
        link: "https://p5js.org/",
        text: "p5.js"
      }])
    .sw-Layout_Spacer
