.sw-Background_Primary {
  background-color: $background;
}

.sw-Background_Color0 {
  background-color: $color0;
}

.sw-Background_Color1 {
  background-color: $color1;
}

.sw-Background_Color2 {
  background-color: $color2;
}

.sw-Background_Color3 {
  background-color: $color3;
}

.sw-Background_Color4 {
  background-color: $color4;
}

.sw-Background_Color5 {
  background-color: $color5;
}

.sw-Background_Color6 {
  background-color: $color6;
}

.sw-Background_Color7 {
  background-color: $color7;
}

.sw-Background_Color8 {
  background-color: $color8;
}

.sw-Background_Color9 {
  background-color: $color9;
}

.sw-Background_Color10 {
  background-color: $color10;
}

.sw-Background_Color11 {
  background-color: $color11;
}

.sw-Background_Color12 {
  background-color: $color12;
}

.sw-Background_Color13 {
  background-color: $color13;
}

.sw-Background_Color14 {
  background-color: $color14;
}

.sw-Background_Color15 {
  background-color: $color15;
}
