button
{
  border: none;
  color: #e0e0e0;
  background-color: #616161;
  border-radius: 3px;
  transition: box-shadow 1ms;
  box-shadow: 1px 1px 4px #616161;
}

button:focus
{
  outline: none;
}

button:active
{
  box-shadow: 0 0 0 #616161;
}

div
{
  margin-bottom: 5px;
}

#reset
{
  background-color: #ef5350;
}

#submit_guess
{
  background-color: #78909c;
}

table
{
  border: 1px solid #d84315;
  border-collapse: collapse;
}

th
{
  color: #fff;
  background-color: #d84315;
  text-decoration: underline;
}

td,
th
{
  padding: 3px;
  text-align: left;
  border-bottom: 1px solid #d84315;
}

tr:nth-child(odd) td
{
  border-right: 1px solid #d84315;
}

th:first-child
{
  border-right: 1px solid #e0e0e0;
}

td:first-child
{
  font-weight: bold;
}
