.sw-Foreground_Primary {
  color: $foreground;
}

.sw-Foreground_Color0 {
  color: $color0;
}

.sw-Foreground_Color1 {
  color: $color1;
}

.sw-Foreground_Color2 {
  color: $color2;
}

.sw-Foreground_Color3 {
  color: $color3;
}

.sw-Foreground_Color4 {
  color: $color4;
}

.sw-Foreground_Color5 {
  color: $color5;
}

.sw-Foreground_Color6 {
  color: $color6;
}

.sw-Foreground_Color7 {
  color: $color7;
}

.sw-Foreground_Color8 {
  color: $color8;
}

.sw-Foreground_Color9 {
  color: $color9;
}

.sw-Foreground_Color10 {
  color: $color10;
}

.sw-Foreground_Color11 {
  color: $color11;
}

.sw-Foreground_Color12 {
  color: $color12;
}

.sw-Foreground_Color13 {
  color: $color13;
}

.sw-Foreground_Color14 {
  color: $color14;
}

.sw-Foreground_Color15 {
  color: $color15;
}
