// cat ~/.Xresources
$background: #0d1012;
$foreground: #9e99aa;
$color0: #0d1012;
$color1: #524447;
$color2: #51484f;
$color3: #6b575d;
$color4: #ab5e51;
$color5: #966a65;
$color6: #bb8d75;
$color7: #9e99aa;
$color8: #6e6b76;
$color9: #524447;
$color10: #51484f;
$color11: #6b575d;
$color12: #ab5e51;
$color13: #966a65;
$color14: #bb8d75;
$color15: #9e99aa;
