// cat ~/.Xresources
$foreground: #b7b4b3;
$background: #0b090b;
$borderColor: #0b090b;
$cursorColor: #b7b4b3;
$color0: #0b090b;
$color1: #4e4c4f;
$color2: #636166;
$color3: #906f63;
$color4: #a18877;
$color5: #63748a;
$color6: #708ea1;
$color7: #b7b4b3;
$color8: #807d7d;
$color9: #4e4c4f;
$color10: #636166;
$color11: #906f63;
$color12: #a18877;
$color13: #63748a;
$color14: #708ea1;
$color15: #b7b4b3;
$color66: #0b090b;
